{% extends "header.html" %}

{% block content %}
	<div class="container" style="margin:auto;top:10%;right:0;left:0;position:absolute; width:80%; height:15%; border-radius: 3px;">
		{% for value in stock.results %}
			{% if forloop.counter|divisibleby:"4"%}
				<div class="row">
			{% endif %}
				<div class="col-md-3">
					<h1>{{value.symbol}} <small>{{value.name}}</small></h1>
					<h4>Last Price: {{value.lastPrice}}</h4>
					<h4>Net Change: {{value.netChange}}</h4>
					<h4>Percentage Change: {{value.percentChange}}</h4>
					<h4>Open Price: {{value.open}}</h4>
					<h4>High: {{value.high}}</h4>
					<h4>Low: {{value.low}}</h4>
					<h4>Volume: {{value.volume}}</h4>
				</div>
			{% if forloop.counter|divisibleby:"4"%}
				</div>
			{% endif %}
		{% endfor %}
		</div>
	</div>
{% endblock %}